.App {
  text-align: start;
}
.mainDiv {
  background-image: url(../src/assets/wallpaperflare.com_wallpapermain.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.error-div {
  background-image: url(../src/assets/pexels-walidphotoz-847402.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.weather-div {
  background-image: url(../src/assets/olivia-bliss-HTnycx0h_kk-unsplash.jpg);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
::placeholder {
  color: white;
}
input:focus {
  outline: none;
  border: none;
}
.text-transwhite {
  color: rgba(255, 255, 255, 0.733);
}
.navbar-brand:hover {
  cursor: pointer;
}
.forecast-row {
  background-color: rgba(255, 255, 255, 0.137);
  border-radius: 10px;
}
.footer-bg {
  background-color: rgba(255, 255, 255, 0.096);
}
.text-custom {
  color: rgb(7, 107, 189);
}
